/* TODO: optimize this CSS reset for actually used elements; note to be aware of changes */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body { line-height: 1 }
ol, ul { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* TODO: these font-size and color variables setting will be externalized
  to their own servlet-handled CSS file for a11y reasons */
html {
    font-size: 1rem;
    font-family: sans-serif;
    text-align: center;
    background: #e4ffff;
}

:root{
    --col-bg1: lightblue;
    --col-1: darkblue;

    --col-intro: darkcyan;
    --col-title: aquamarine;
}

/* reusable classes */
/**/
.menubar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.border-margin-1rem {
    margin-left: 1rem;
    margin-right: 1rem;
}

.warning {
    padding: 0.25em;

    font-style: italic !important;
    font-weight: bold !important;

    color: lightsalmon !important;

    border-color: lightcoral !important;
}

/* header CSS */
/**/
.header {
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
}

.main-navbar {
    width: 100vw;
    padding: 0.5rem;
    margin-bottom: 1rem;

    background: var(--col-bg1);
    color: var(--col-1);
}


/* main title */
/**/
.main-title {
    font-size: 3rem;
    color: var(--col-title);
}

.main-title-intro {
    font-size: 0.5em;
    color: var(--col-intro);
}

.main-subtitle {
    font-size: 1.5rem;
    color: var(--col-intro);
}


/*descriptive paragraph*/
/**/
.about-part {
    text-align: left;
}

.about-title {
    text-align: center;
    color: var(--col-intro);
    font-size: 1.5rem;
    font-weight: bold;
}
@media all and (min-width: 600px) {
    .about-title { text-align: left }
}

.about-text {
    text-indent: 3em;
}

.about-text > p {
    margin-bottom: 1em;
}

.about-em {
    color: var(--col-intro);
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}
